<% provide(:title,t('roles.all')) %>
<% @nohead=true %>

<h1>
  <%=t('roles.all')%>
  <% if can? :update, @project %> 
    <small><br /><%=link_to t("roles.new"), new_project_role_path(@project) %></small>
  <% end %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('users.name') %></th>
      <th><%= t('users.email') %></th>
      <th><%= t('roles.role') %></th>
      <% if can? :update, @project %> 
        <th><%= t('users.action') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstName %> <%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= t('roles.'+@project.roles.find_by_user_id(user.id).name.downcase) %></td>
        <% if can? :update, @project %> 
          <td>
            <div class="btn-group">
              <%=link_to edit_project_role_path(@project, user.roles.find_by_project_id(@project.id)), class:"btn" do %>
                <i class="icon-pencil"></i>
              <% end %>
              <%=link_to project_role_path(@project, user.roles.find_by_project_id(@project.id)), class:"btn",confirm: t("milestones.delete?"),method: :delete do %>
                <i class="icon-trash"></i>
              <% end %>
            </div>
          </td>
        <% end %>
      </tr>
    </tr>
  <% end %>
</tbody>
</table>
