<p><%= t('users.hello', name: @resource.email) %></p>

<p><%= t('users.change_password_text') %></p>
<p><%= link_to t('users.change_password_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('users.change_password_ignore_mail') %></p>
<p><%= t('users.change_password_ignore_mail2') %></p>



